<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weather app</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <section class="vh-100" style="background-color: #4B515D;">
        <div class="container py-5 h-100">
      
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-8 col-lg-6 col-xl-4">
      
              <div class="card" style="color: #4B515D; border-radius: 35px;">
                <div class="card-body p-4">
      
                  <div class="d-flex">
                    <h6 class="flex-grow-1"><%= city %> (<%= crCode %>)</h6>
                    <h6><%= new Date().toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });  %></h6>
                  </div>
      
                  <div class="d-flex flex-column text-center mt-5 mb-4">
                    <h6 class="display-4 mb-0 font-weight-bold" style="color: #1C2331;"> <%= temp %>°C </h6>
                    <span class="small" style="color: #868B94"><%= weatherDes %></span>
                  </div>
      
                  <div class="d-flex align-items-center">
                    <div class="flex-grow-1" style="font-size: 1rem;">
                      <div><i class="fas fa-wind fa-fw" style="color: #868B94;"></i> <span class="ms-1"> <%= windSpeed %>km/h
                        </span></div>
                      <div><i class="fas fa-tint fa-fw" style="color: #868B94;"></i> <span class="ms-1"> <%= humidity %>% </span>
                       </div>
                       <div><i class="fas fa-sun fa-fw" style="color: #868B94;"></i> <span class="ms-1">🙂</span>
                      </div> 
                    </div> 
                    <div>
                        <% if(weatherDes === "haze") { %>
                      <img src="https://help.apple.com/assets/640A52196275DE31D4371B5E/640A52226275DE31D4371B8B/en_US/73ae8300a30e895e3739cd50ade0dfe1.png"
                        width="100px">
                        <% }else if(weatherDes === "clear sky") { %>
                            <img src="https://help.apple.com/assets/640A52196275DE31D4371B5E/640A52226275DE31D4371B8B/en_US/575900edccbc7def167f7874c02aeb0b.png"
                            width="100px">
                        <% }  else if(weatherDes === "overcast clouds") { %>
                            <img src="https://freesvg.org/img/sivvus_weather_symbols_3.png"
                            width="100px">
                        <% } %>
                    
                    </div>
                  </div>
      
                </div>
              </div>
      
            </div>
          </div>
      
        </div>
      </section>
</body>
</html>